<div class="wrapper">
    <div class="border">
      <div class="leftside">
        <h2 class="header">Fundoo</h2>
        <h5 class="sub-header">Create your Fundoo Account</h5>
        <form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
          <!-- Grouping First Name and Last Name inputs together for side-by-side layout -->
          <div class="form-group-Initials">
            <div class="form-group-row">
              <mat-form-field appearance="outline">
                <mat-label>Enter First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="firstName">  
                <mat-error *ngIf="submitted && registerForm.get('firstName')?.errors?.['required']">
                  First Name is required
                </mat-error>              
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Enter Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName">
                <mat-error *ngIf="submitted && registerForm.get('lastName')?.errors?.['required']">
                  Last Name is required
                </mat-error>
              </mat-form-field>
            </div>
  
            <!-- Email input field that spans the full width -->
            <div class="form-group email" [ngClass]="{'has-error': submitted && registerForm.get('email')?.invalid}">
              <mat-form-field appearance="outline">
                <mat-label>Enter your Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="submitted && registerForm.get('email')?.errors?.['required']">
                  Email is required
                </mat-error>
                <mat-error *ngIf="submitted && registerForm.get('email')?.errors?.['email']">
                  Email is invalid
                </mat-error>
              </mat-form-field>              
  
              <!-- Password input field added below Email -->
              <mat-form-field appearance="outline">
                <mat-label>Enter your Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="submitted && registerForm.get('password')?.errors?.['required']">
                  Password is required
                </mat-error>
              </mat-form-field>              
            </div>
          </div>
  
          <br>
          <div class="registerBtn"> 
            <button mat-stroked-button color="primary" (click)="handleSignIn()">Sign in instead</button>
            <div class="regstr">
              <button mat-flat-button color="primary">Register</button>
            </div>
          </div>
        </form>
      </div>
      <div class="rightside">
        <div class="image-container">
          <img src="../../../assets/img.PNG" alt="img" width="240" height="230" />
        </div>
        <div class="text-below-image">
          <span>One account. All of Fundoo working for you.</span>
        </div>
      </div>
    </div>
  </div>
  